.error_page {
  width: 100%;
  justify-content: flex-start;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding-top: 200px;
}
.roadmap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  color: var(--text2, #000000);
  text-align: left;
  font-family: var(
    --title-14px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: 14px;
  line-height: var(--title-14px-regular-line-height, 21px);
  font-weight: var(--title-14px-regular-font-weight, 400);
  margin-left: 110px;
}
.account {
  opacity: 0.5;
}
.text_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
    font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
}
.text_error {
  font-size: 110px;
  line-height: 115px;
  letter-spacing: 0.03em;
  font-family: var(
    --heading-110px-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
}
.paragraph_error {
  font-weight: 400;
}
.button_back {
  background: #db4444;
  border-radius: 4px;
  padding: 16px 48px;
  text-decoration: none;
  color: #fafafa;
  font-weight: 500;
  margin-top: 30px;
}
.button_back:hover {
  background: #e56262;
}